@page "/Article/{tutorialsname}"
@using UI.Data.Models
<h3>@TutorialsName</h3>

@if (pages.Count == 0)
{
    <h2>Loading article..</h2>
}
else
{
    <div class="layout">
        <div class="steps-container">
            @foreach (ArticlePage file in pages)
            {
                <div class="step">@file.Name</div>
            }
        </div>
        <div class="page-container">
            <div class="tutorials-page">
                <h3>@currentPage.Name</h3>
                <p>@currentPage.Html</p>
            </div>
        </div>
        <div class="steps-container">
        </div>
    </div>
}
