@page "/"
@using UI.Data.Models

<PageTitle>Home</PageTitle>

@if (headers is null)
{
    <h2>Loading tutorials..</h2>
}
else
{
    <div>
        <h2>GitHub Tutorials</h2>
        <ul>
            @foreach (ArticleHeader header in headers)
            {
                <div class="tutorials-card" @onclick="() => NavigateToArticle(header.Name)">
                    <h3>@header.Name</h3>
                </div>
            }
        </ul>
    </div>
}