@page "/"
@page "/home"
@page "/Codelabs2"

@using UI.Data.Models

<PageTitle>Home</PageTitle>

@if (articles is null)
{
    <h2>Loading articles..</h2>
}
else
{
    <div>
        <h2>Articles</h2>
        <ul>
            @foreach (ArticleHeader header in articles)
            {
                <div class="tutorials-card" @onclick="() => NavigateToArticle(header.Owner, header.Name)">
                    <h3>@header.Name</h3>
                </div>
            }
        </ul>
    </div>
}