@page "/"
@using UI.Data.Models

<PageTitle>Home</PageTitle>

<button @onclick='() => NavMgr.NavigateTo("Test1")'>Test 1 page</button>
<button @onclick='() => NavMgr.NavigateTo("Codelabs2/Test2")'>Test 2 page</button>

@if (articles is null)
{
    <h2>Loading articles..</h2>
}
else
{
    <div>
        <h2>Articles</h2>
        <ul>
            @foreach (ArticleHeader header in articles)
            {
                <div class="tutorials-card" @onclick="() => NavigateToArticle(header.Owner, header.Name)">
                    <h3>@header.Name</h3>
                </div>
            }
        </ul>
    </div>
}