bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Codelabs3.sln.DotSettings.user
Todo.md
.idea/.idea.Codelabs3/.idea/.gitignore
.idea/.idea.Codelabs3/.idea/encodings.xml
.idea/.idea.Codelabs3/.idea/indexLayout.xml
.idea/.idea.Codelabs3/.idea/misc.xml
.idea/.idea.Codelabs3/.idea/vcs.xml
.idea/.idea.Codelabs3/.idea/inspectionProfiles/Project_Default.xml
.idea/.idea.Codelabs3/.idea/.name
