@page "/Article/{owner}/{tutorialsname}"

<div>
</div>
<div class="header-container">
    <i class="fa fa-home home-link" @onclick='() => NavMgr.NavigateTo("/")'></i>
    <h1>@TutorialsName</h1>
</div>
@if (pages.Count == 0)
{
    <h2>Loading article..</h2>
}
else
{
    <div class="layout">
        <div class="steps-container">
            @for (int i = 0; i < pages.Count; i++)
            {
                int idx = i;
                <div class="step @(currentPage == pages[i] ? "active" : "")" @onclick="() => GoToPage(idx)">
                    @pages[i].Name
                </div>
            }
        </div>
        <div class="page-card">
            <div class="top-buttons-row">
                <div class="buttons-box">
                    @if (stepIndex != 0)
                    {
                        <button type="button" class="article-button prev-page-button"
                                @onclick="() => ChangePage(-1)">
                            Previous
                        </button>
                    }
                    @if (stepIndex != pages.Count - 1)
                    {
                        <button type="button" class="article-button next-page-button"
                                @onclick="() => ChangePage(1)">
                            Next
                        </button>
                    }
                    else
                    {
                        <button type="button" class="article-button home-button"
                                @onclick='() => NavMgr.NavigateTo("/")'>Home
                        </button>
                    }
                </div>
            </div>
            <div class="article-content-container">
                @currentPage.Html
            </div>
        </div>
        <div class="steps-container steps-container-spacer">
        </div>
    </div>
}