.home-link {
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    left: 0;
    padding: 0 1rem;
}

.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-start;
}

.steps-container {
    min-width: 250px;
    border: 1px dotted #fb3737;
}

.step {
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    opacity: 0.3;
}

.step.active {
    opacity: 1.0;
    box-shadow: 0 1px 5px 1px rgb(60 64 67 / 60%), 0 2px 6px 2px rgb(60 64 67 / 30%);
    transform: translate(3px, -1px);
}

.step:hover {
    box-shadow: 0 0 10px 1px rgb(60 64 67);
    transform: translate(3px, -1px);
}

.article-content-container {
    /*min-width: 200px;*/
    max-width: 1200px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    font-size: larger;
    word-wrap: break-word;
    /* Ensures text wraps within the container */
    overflow-wrap: break-word;
    /* Modern equivalent for text wrapping */
    white-space: normal;
    /* Allows text to wrap to the next line */
}

.steps-container-spacer {}

.page-card {
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 130ch;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67), 0px 2px 16px 12px rgba(60, 64, 67, 0.5);
    word-wrap: break-word;
    /* Ensures text wraps within the container */
    overflow-wrap: break-word;
    /* Modern equivalent for text wrapping */
    white-space: normal;
    /* Allows text to wrap to the next line */
}

/* Responsive Design */

/* When the browser width is less than 1000px, hide the third column */
@media (max-width: 1200px) {
    .steps-container-spacer {
        display: none;
    }
}

/* When the browser width is less than 800px, hide the first column */
@media (max-width: 900px) {
    .steps-container {
        display: none;
    }
}

/* When the browser width is less than 600px, allow the page-card to shrink */
@media (max-width: 600px) {
    .page-card {
        max-width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }
}