.home-link {
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    left: 0;
    padding: 0 1rem;
}

.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-start;
    min-width: 0;
}

.steps-container {
    min-width: 250px;
    border: 1px dotted #fb3737;
}

.step {
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    opacity: 0.3;
}

.step.active {
    opacity: 1.0;
    box-shadow: 0 1px 5px 1px rgb(60 64 67 / 60%), 0 2px 6px 2px rgb(60 64 67 / 30%);
    transform: translate(3px, -1px);
}

.step:hover {
    box-shadow: 0 0 10px 1px rgb(60 64 67);
    transform: translate(3px, -1px);
}

.article-content-container {
    max-width: 1200px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    font-size: 1rem;
    min-width: 0;
    overflow: auto;
}

.steps-container-spacer {}

.page-card {
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67), 0px 2px 16px 12px rgba(60, 64, 67, 0.5);
    min-width: 0;
}

/* Responsive Design */

.steps-dropdown {
    position: relative;
    display: none;
    /* Hidden by default */
}

.burger-menu {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    border: 1px solid #fb3737;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    list-style: none;
    margin: 0;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.dropdown-item:hover {
    background-color: #fb3737;
    color: white;
}

@media (max-width: 1400px) {
    .steps-container-spacer {
        display: none;
    }

    .page-card, .article-content-container{
        max-width: 1200px;
    }
}


@media (max-width: 1000px) {
    .steps-container {
        display: none;
    }

    .steps-dropdown {
        display: block;
    }

}

@media (max-width: 600px) {
    .page-card {
        max-width: 90%;

    }
}

